.profile {
    background-color: #202020;
    height: calc(100vh - 74px);
}

.profile__content {
    max-width: 410px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .profile__content {
        margin-top: 236px;
    }
}

@media screen and (max-width: 424px) {
    .profile__content {
        margin-top: 70px;
    }
}

.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 74px;
    padding-bottom: 123px;
}

.profile__form {}

.profile__input-name {}

.profile__input-edit {}

.profile__input {}

.profile__fields {}

.profile__nav {}

.profile__button {}

.profile__button_edit {}

.profile__button_signin {}