.error {
    visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    color: #EE3465;
}

.error__visible {
    visibility: visible;
}