.App {
  /*margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  /*width: 100%;*/
  display: flex;
  flex-direction: column;
}