.navigation {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px 18px 70px;
}

@media screen and (max-width: 768px) {
    .navigation {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 424px) {
    .navigation {
        padding: 18px 14px;
    }
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navigation__menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navigation__hamburger {
        display: flex;
        align-items: center;
    justify-content: space-between;
    }
}
.naviation__links {
    gap: 20px;
    display: flex;
    display: flex;
    align-items: center;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .naviation__links {
        display: none;
    }
}

.naviation__link {
    margin: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    text-align: right;
    color: #FFFFFF;
}

.navigation__link_active {
    font-weight: 500;
}

.navigation__account-data {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    height: 30px;
    gap: 17px;
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    .navigation__account-data{
        display: none;}
}

.navigation__login {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #FFFFFF;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0;
    text-decoration: none;
}

.navigation__account {
    border-radius: 4px;
    width: 26px;
    height: 30px;
    background: #313131 url('../../images/accountLogo.svg') no-repeat center;
}
