.searchForm {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search {
    width: 100%;
    margin-top: 89px;
}

@media screen and (max-width: 768px) {
    .search {
        max-width: 708px;
    }
}

@media screen and (max-width: 424px) {
    .search {
        max-width: 300px;
    }
}

.search__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__input {
    width: 100%;
    margin-right: 10px;
    outline: none;
    box-sizing: border-box;
    background-color: #2F2F2F;
    border-radius: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}

@media screen and (max-width: 424px) {
    .search__input {
        max-width: 238px;
        height: 48px;
        padding-left: 13px;
    }
}

.search__button {
    background: #4285F4;
    border-radius: 48px;
    border: none;
    width: 80px;
    height: 34px;
    background-image: url('../../images/searchIcon.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.search__button:hover {
    transition: 1s;
    opacity: 0.6;
}