.searchForm {
    padding: 70px 70px 80px 70px;
}

@media screen and (max-width: 768px) {
    .searchForm {
        padding: 80px 30px 120px 30px;
    }
}

@media screen and (max-width: 424px) {
    .searchForm {
        padding: 80px 10px 10px 10px;
    }
}

.search {
    display: flex;
    background-color: #2F2F2F;
    border-radius: 9px;
}

@media screen and (max-width: 424px) {
    .search {
        flex-direction: column;
        align-items: center;
        background-color: #202020;
    }
}

.search__container {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .search__container {
        background-color: #2F2F2F;
        border-radius: 9px;
    }
}

.search__loupe {
    background-image: url('../../images/searchGrey.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    align-self: center;
    margin: 19px 0 19px 19px;
}


@media screen and (max-width: 424px) {
    .search__loupe {
        display: none;
    }
}

.search__input {
    align-self: center;
    background-color: #2F2F2F;
    color: #EBEBEB;
    width: 100%;
    border: none;
    margin: 25px 0 25px 10px;
}

@media screen and (max-width: 768px) {
    .search__input {
        margin: 25px 0 25px 19px;
    }
}

.search__input:focus {
    outline: transparent;
}

.search__input::placeholder {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    opacity: 1;
    transition: opacity .8s ease;
}

.search__input:focus::placeholder {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .search__input::placeholder {
        font-size: 14px;
        line-height: 20px;
    }
}

.search__button {
    background: no-repeat center url('../../images/findIcon.svg');
    width: 80px;
    height: 34px;
    border: none;
    cursor: pointer;
    padding: 19px 64px 19px 30px;
    align-self: center;
    border-right: 1px solid #424242;
}

.search__button:hover {
    transition: .6s linear;
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .search__button {
        padding: 19px 50px 19px 50px;
        border-right: none;
    }
}

.search__error-desktop {
    color: #EE3465;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 20px;
    text-align: center;
}

@media screen and (max-width: 424px) {
    .search__error-desktop {
        display: none;
    }
}

.search__error-small {
    display: none;
}

@media screen and (max-width: 424px) {
    .search__error-small {
        display: block;
        color: #EE3465;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin: 0 auto 0;
        text-align: center;
    }
}