.aboutProject {
padding: 110px 70px;
width: 100%;
background-color: #202020;
}

@media screen and (max-width: 768px) {
    .aboutProject {
        padding: 90px 50px;
        }
}

@media screen and (max-width: 424px) {
    .aboutProject {
        padding: 70px 18px;
        }
}

.section__title{
    font-family: 'Inter', Arial, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding-bottom: 23px;
    margin: 0;
}

.section__underline{
border-bottom: 1px solid rgba(218, 218, 218, 1);
}

/*.aboutProject_components{
list
}

.aboutProject_component{

}

.aboutProject_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.aboutProject_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
   /* color: #FFFFFF;
}

.timeTracker{

}

.timeTracker__component{

}

.timeTracker__backend{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.timeTracker__frontend{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.timeTracker__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height, or 121% */
   /* text-align: center;
    color: #8B8B8B;
}*/