.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-bottom: 40px;
    margin-top: 26px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .checkbox {
        padding-bottom: 52px;
    }
}

@media screen and (max-width: 424px) {
    .checkbox {
        margin-top: 45px;
    }
}

.checkbox__container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 20px;
    width: 36px;
    margin-right: 14px;
    user-select: none;
}

.checkbox__container .checkbox__filter {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox__filter:checked+.checkbox__slider {
    background-color: #3DDC84;
}

.checkbox__filter:checked+.checkbox__slider:before {
    transform: translateX(20px);
}

.checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .3s;
    border-radius: 20px;
}

.checkbox__slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.checkbox__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 424px) {
    .checkbox__text {
        font-size: 11px;
    }
}