.techs {
    background-color: #272727;
    padding: 100px 70px 100px 70px;
}

@media screen and (max-width: 768px) {
    .techs {
        padding: 90px 50px 90px 75px;
    }
}

@media screen and (max-width: 424px) {
    .techs {
        background-color: #272727;
        padding: 70px 18px 70px 18px;
    }
}

.section__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 23px;
}

@media screen and (max-width: 424px) {
    .section__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}

.section__underline {
    border-bottom: 1px solid rgba(218, 218, 218, 1);
}

@media screen and (max-width: 424px) {
    .section__underline {
        border-bottom: 1px solid rgba(0, 0, 0, 1);
    }
}

.techs__title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    padding-top: 90px;
}

@media screen and (max-width: 768px) {
    .techs__title {
        padding-top: 80px;
    }
}

@media screen and (max-width: 424px) {
    .techs__title {
        padding-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }
}

.techs__subtitle {}

.techs__components {}

.techs__component {}

.techs__description {}